


html {
	
}


body {
	max-width: 25em;
	padding: 0.5em;
	margin: 10px;
	position: relative;
/*	right: 0%;*/
/*	left: 50%;*/

}

:root {
  --plyr-color-main: #1ac266;
}


.speech-bubble {
	position: relative;
	background: #05FF00;
	opacity: 0.85;
	padding: 1em;
	border-radius: .9em;
	top: 0px;
	left:30%;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 59px solid transparent;
	border-left-color: #05FF00;
	opacity: 0.85;
	border-right: 0;
	border-top: 0;
	margin-top: -29.5px;
	margin-right: -59px;
}

.speech-bubble2 {
	position: relative;
	background: #a83289;
	opacity: 0.85;
	padding: 1em;
	border-radius: .9em;
    top: 100px;
    left:50%;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 59px solid transparent;
	border-left-color: #a83289;
	opacity: 0.85;
	border-right: 0;
	border-top: 0;
	margin-top: -29.5px;
	margin-right: -59px;
}

.speech-bubble3 {
	position: relative;
	background: #8da832;
	opacity: 0.85;
	padding: 1em;
	border-radius: .9em;
    top: 210px;
    left:40%;
}

.speech-bubble3:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 59px solid transparent;
	border-left-color: #8da832;
	opacity: 0.85;
	border-right: 0;
	border-top: 0;
	margin-top: -29.5px;
	margin-right: -59px;
}

.speech-bubble4 {
	position: relative;
	background: #3271a8;
	opacity: 0.85;
	padding: 0.1em;
	border-radius: .4em;
    top: 350px;
    left:30%;
}

.speech-bubble4:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 59px solid transparent;
	border-left-color: #3271a8;
	opacity: 0.85;
	border-right: 0;
	border-top: 0;
	margin-top: -29.5px;
	margin-right: -59px;
}

.speech-bubble5 {
	position: relative;
	background: #05FF00;
	opacity: 0.85;
	padding: 1em;
	border-radius: .9em;
    top: 450px;
}

.speech-bubble5:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 59px solid transparent;
	border-left-color: #05FF00;
	opacity: 0.85;
	border-right: 0;
	border-top: 0;
	margin-top: -29.5px;
	margin-right: -59px;
}

.speech-bubble6 {
	position: relative;
	background: #8da832;
	opacity: 0.85;
	padding: 1em;
	border-radius: .9em;
    top: 550px;
    left:20%;
}

.speech-bubble6:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 59px solid transparent;
	border-left-color: #a83289;
	opacity: 0.85;
	border-right: 0;
	border-top: 0;
	margin-top: -29.5px;
	margin-right: -59px;
}