


html {
	
}


body {
	max-width: 30em;
	padding: 1em;
	margin: 10px;
	position: relative;
/*	right: 0%;*/
/*	left: 50%;*/

}

:root {
  --plyr-color-main: #1ac266;
}


.speech-bubble {
	position: relative;
	background: #05FF00;
	opacity: 0.85;
	padding: 1em;
	border-radius: .9em;
	top: 0px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 59px solid transparent;
	border-left-color: #05FF00;
	opacity: 0.85;
	border-right: 0;
	border-top: 0;
	margin-top: -29.5px;
	margin-right: -59px;
}

.speech-bubble2 {
	position: absolute;
	background: #a83289;
	padding: 1em;
	border-radius: .9em;
    top: 500px;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 59px solid transparent;
	border-left-color: #a83289;
	border-right: 0;
	border-top: 0;
	margin-top: -29.5px;
	margin-right: -59px;
}